trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'

- script: |
    npm ci
    npx playwright install --with-deps
    npx playwright test
  continueOnError: true
  displayName: 'Run Playwright anomaly screenshots'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'screenshots'
    ArtifactName: 'screenshots'
