trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    npm ci
    npx playwright install --with-deps
  displayName: 'Install dependencies'

- script: |
    npx playwright test
  displayName: 'Run Playwright tests'
  continueOnError: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish screenshots'
  inputs:
    PathtoPublish: 'screenshots'
    ArtifactName: 'screenshots'
    publishLocation: 'Container'
